.dynamic-content {
	width: 100%;
	padding: 2em 0;

	&:after {
		display: block;
		content: '';
		clear: both;
	}

	h3 {
		color: $white;
	}

	&__blog {
		width: 100%;
		margin-top: 3em;

		@include respond-to(medium) {
			width: 40%;
			float: left;
			padding-left: 5%;
			margin-top: 0;
		}

		@include respond-to(large) {
			width: 30%;
		}


		&:after {
			content: '';
			display: block;
			clear: both;
		}

		ol.news {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				border: 1px solid rgba(255, 255, 255, 0.2);
				margin: 0;
				width: 100%;
				float: none;

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				&:first-child {
					margin-bottom: 10px;
				}
				
				&:hover {
					border-color: $third;

					a {
						color: $third;
					}
				}



				article {
					width: 100%;

					@include respond-to(medium) {
						height: 295px;
						width:  100%;
						@include easeAnimation;
						position: relative;
					}

					span.bg_image {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 0;
						opacity: .2;
						background-size: cover;
						-webkit-filter: grayscale(100%);
    					filter: grayscale(100%) blur(6px);
    					-webkit-box-shadow: inset 0px 0px 40px 8px rgba(0,0,0,0.75);
						-moz-box-shadow: inset 0px 0px 40px 8px rgba(0,0,0,0.75);
						box-shadow: inset 0px 0px 40px 8px rgba(0,0,0,0.75);

					}


				 	.post-content {
						padding-top: 1em;
						padding-left: 1em;
						padding-right: 1em;

						&__title {
							@include respond-to(medium) {
								height: 148px;
								overflow: hidden;
							}
						}

						position: relative;
						z-index: 1;
					}

					.meta-container {
						background: rgba(0, 0, 0, .4);
						@include respond-to(medium) {
							position: absolute;
							bottom: 0;
						}
						padding: 1em;
						position: relative;
						z-index: 1;
					}

					a {
						color: #fff;
					}

				}
			}
		}
	}

	&__portfolio {
		width: 100%;

		@include respond-to(medium) {
			float: left;
			width: 60%;			
		}

		@include respond-to(large) {
			width: 70%;
		}
	}
}