body {
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

body.logged-in{margin-top:20px;}

#main-container {
    position: static;
}

main {
    padding: 50px 0 30px;

    @include respond-to(large) {
        padding: 60px 0 50px 0;
    }

    &.project,
    &.blog,
    &.contact {
        .list {
            clear: both;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .list_section {

                @include respond-to(small) {
                    float: left; 
                    width: 49%;
                }

                @include respond-to(large) {
                    float: left;
                    width: 30%;
                    padding-left: 22px;
                }

                li {
                    margin: 0 0 .5em 0;
                }
            }
        }

        .title {
            clear: both;
            text-align: center;
            display: block;
            margin-top: 2em;
            margin-bottom: 4em;

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            h2 {
                padding: 0;
                margin: 0;
            }
        }

        .image_section {
            //background: $color__main;
            border: 1px solid $color-primary;
            padding: 5px;
            margin-bottom: 1em;
            clear: both;

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            a {
                display: block;
                float: left;
                width: 32.3%;
                margin: .5%;

                @include respond-to(medium) {
                    width: 24%;
                }

                @include respond-to(large) {
                    width: 19%;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.central_container {
    margin: 0 auto;
    clear: both;
    position: relative;
    width: 100%;
    padding: 0 20px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include respond-to(medium) {
        padding: 0;
    }

    @include respond-to(large) {
        max-width: 1200px;

    }

    
    @include respond-to(extralarge) {
        max-width: 1400px;
    }
}


//homepage specific
.text {

    .text__intro {
        margin-bottom: 40px;
    }

    .text__portfolio {
        margin-bottom: 30px;
    }
}

section.portfolio {
    margin-bottom: 40px;
}

//home specific END

.project {
    article {
        @include respond-to(medium) {
            display: flex;
        }
    }
}

article {
    //background: $white;
    position: relative;
    color: $black;
    padding: 0;
    width: 100%;

    @include respond-to(medium) {
        padding: 1em 0 4em 0;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .left {
        width: 100%;

        @include respond-to(medium) {
            width: 75%;
            padding-right: 20px;
        }
    }
}

.no-scroll {
    overflow: hidden;
}

/* Modal */
.modal {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;

    .modal_window {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-height: 600px;
        background: #000;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 10;
        padding: 10px;

        @include respond-to(medium) {
            height: 100%;
        }


        .modal_previous {
            position: absolute;
            color: #fff;
            font-size: 60px;
            z-index: 5;
            bottom: -125px;
            left: 25%;

            @include respond-to(medium) {
                top: 50%;
                left: -75px;
            }
        }

        .modal_next {
            position: absolute;
            color: #fff;
            font-size: 60px;
            z-index: 5;
            bottom: -125px;
            right: 25%;

            @include respond-to(medium) {
                top: 50%;
                right: -75px;
            }
        }

        img#modal_img {
            display: block;
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            max-height: 100%;
            z-index: 10;
        }
    }
}

//contact 

.contact--content {
    margin-bottom: 30px;
}

.contact--container {
    display: flex;
    width: 100%;

    .contact__left {
        width: 50%;

        .tel, 
        .email {
            a {
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
            }

            .icon {
                display: inline-block;
                font-size: 32px;
                color: #3b516f;
                margin-right: 8px;
                vertical-align: middle;
            }
        }

        .tel {
            margin-bottom: 20px;
        }
    }

    .contact__right {
        width: 50%;
        border-left: 1px solid #e8e8e8;
        padding-left: 20px;
    }
}