@import 'partials/reset';
@import 'partials/helpers';
@import 'partials/typography';
@import 'partials/colours';
@import 'partials/variables';
@import 'partials/animation';
@import 'portfolio';
@import 'blog';

img {
    border: 0;
}

html, body {
    height: 100%;
}

body {
    background: $secondary;
    color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

#main-container {
    position: relative;
    min-height: 100%;
}

.central_container_header {
    margin: 0 auto;
    clear: both;
    width: 90%;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include respond-to(medium) {
        position: relative;
    }

    @include respond-to(large) {
        max-width: 1200px;
    }
}

.central_container {
    margin: 0 auto;
    clear: both;
    position: relative;
    width: 90%;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    @include respond-to(large) {
        max-width: 1200px;
    }
}

header {
    background: $primary;
    height: 60px;
    width: 100%;
    z-index: 11;
    position: fixed;

    @include respond-to(medium) {
        height: 250px;
        position: relative;
    }

    .single-project & {
        @include respond-to(large) {
            background: rgba(0, 0, 0, 0.7);

            &.solid {
                background: $primary;
            }
        }
    }

    &.fixed {
        position: fixed;
        height: 60px;

        #logo {
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            color: #000;
            top: 1.313em;

            img {
                display: block;
                font-size: 25px;
                font-weight: 300;
                padding: 0;
                color: #000;
                text-decoration: none;
                width: 180px;
                height: auto;
                max-width: 241px;
            }
        }

        nav {
            top: 1.2em;

            ul {
                text-align: right;
            }
        }
    }
    
    #logo {
        display: block;
        position: relative;
        top: 1.313em;

        @include respond-to(medium) {
            top: 5.5em;
        }

        img {
            display: block;
            font-size: 25px;
            font-weight: 300;
            padding: 0;
            color: #000;
            text-decoration: none;
            width: 180px;
            height: auto;
            max-width: 241px;

            @include respond-to(medium) {
                margin: 0 auto;
                width: 100%;
                height: auto;
            }
        }
    }

    nav {

        display: none;
        clear: both;
        position: absolute;
        right: 0;
        left: 0;
        top: 60px; 

        @include respond-to(medium) {
            top: 8em;
            margin: 0 auto;
        }

        .social {
            display: none;
            position: absolute;
            bottom: 1.1em;
            left: 1.1em;
            right: 1.1em;
            cursor: pointer;
            margin-left: 0;
            margin-top: 10px;
            text-align: center;

            @include respond-to(medium) {
                float: left;
                margin-left: 7px;
                margin-top: 0;
            }

            .facebook {
                background-image: url('images/facebook.jpg');
                background-size: cover;
                display: inline-block;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/facebook_color.jpg');
                }
            }

            .twitter {
                background-image: url('images/twitter.jpg');
                background-size: cover;
                display: inline-block;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/twitter_color.jpg');
                }
            }

            .linkedin {
                background-image: url('images/linkedin.jpg');
                background-size: cover;
                display: inline-block;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/linkedin_color.jpg');
                }
            }

            .instagram {
                background-image: url('images/instagram.jpg');
                background-size: cover;
                display: inline-block;
                width: 35px;
                height: 35px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/instagram_color.jpg');
                }
            }
        }

        .dynamic_posts {
            background-color: #131313;
            display: none;
            margin-top: 20px;
            position: absolute;
            width: 100%;
            bottom: 75px;

            ul {
                background-color: #131313;
            }

            .title {
                text-align: left;
                padding: 0.625em 1.1em;
            }
        }
        
        &.open {
            background: #000;
            display: block;
            z-index: 10;

            .social{
                display: block;
            }
        }

        @include respond-to(medium) {
            display: block;
            clear: none;
        }

        ul {
            background: #000000;
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;

            @include respond-to(medium) {
                background: none;
                text-align: center;
            }

            li {

                display: block;

                @include respond-to(medium) {
                    display: inline;
                }

                &:last-child {
                    a {
                        @include respond-to(medium) {
                            padding-right: 0;
                        }
                    }
                }

                &:first-child {
                    a {
                        @include respond-to(medium) {
                            padding-left: 0;
                        }
                    }
                }

                a{
                    color: #ffffff;
                    font-weight: 300;
                    display: block;
                    padding: 0.625em 1.1em;
                    text-decoration: none;
                    border-bottom: 1px solid #1D1D1D;

                    @include respond-to(medium) {
                        color: #676767;
                        display: inline;
                        padding: 0 0.625em;
                        border-bottom: none;
                    }

                    &:hover {
                       color: #fff;
                    }
                }
            }
        }
    }

    #nav-icon {
        float: right;
        width: 25px;
        height: 21px;
        position: relative;
        margin-top: .2em;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        @include respond-to(medium) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            background: #ffffff;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2),
        span:nth-child(3) {  
            top: 8px;
        }

        span:nth-child(4) {
            top: 16px;
        }

        &.open span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        &.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &.open span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }

    &.small_header {
        height: 60px;
        position: fixed;
        top: 0;


        #logo {
            @include respond-to(medium) {            
                font-size: 20px;
                float: left;
                margin: .8em 1em 0;
                padding: 0;
            }

            @include respond-to(wide) {
                font-size: 30px;
                margin: .3em 0;
            }
        }

        nav {
            ul {
                @include respond-to(medium) {
                    float: right;
                    margin: 1.17em 1em 0;
                    padding: 0;
                }
            }
        }
    }
}

.page-content {
    //position: relative;
    background: $secondary;
    padding-top: 60px;
    padding-bottom: 50px;

    @include respond-to(medium) {
        padding-top: 0px;
        padding-bottom: 300px; 
    }

    &.padding {
        padding-top: 250px;
    }

    .single & {
        padding-top: 60px;
        padding-bottom: 0;

        &.padding {
            padding-top: 350px;
        }

        @include respond-to(medium) {
            padding-top: 100px;
            padding-bottom: 300px; 
        }
    }

    @include respond-to(medium) {
        //padding-top: 215px;
    }

    .featured_image_container {

        max-height: 160px;
        overflow: hidden;
        
        @include respond-to(medium) {
            max-height: 240px;
        }

        @include respond-to(large) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: none;
            z-index: 0;
        }

        .featured-image {
            top: 0;
            width: 100%;
            height: auto;
            transform: scale(1.1);
                       
            @include respond-to(large) {
                position: absolute;
                -webkit-filter: blur(35px);
                opacity: .5;
            }
        }
    }

    .container {
        width: 100%;
        position: relative;
        z-index: 9;
        margin-bottom: 30px;
    }

    .banner {
        background-image: url('../images/image.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 250px;
        overflow: hidden;
    }

    .list {
        clear: both;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .list_section {

            @include respond-to(small) {
                float: left; 
                width: 49%;
            }

            @include respond-to(large) {
                float: left;
                width: 30%;
                padding-left: 22px;
            }

            li {
                margin: 0 0 .5em 0;
            }
        }
    }

    .project_title {
        clear: both;
        padding-top: 1em;

        &:after {
            display: block;
            content: '';
            clear: both;
        }

        h2 {
            float: left;
            padding: 0;
            margin-bottom: .4em;
        }
    }

     .project_link {
        background: $third;
        padding: .6em 1em;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        width: 200px;
        margin: 0 auto;
        border-radius: 5px;

        @include respond-to(large) {
            width: 100%;
        }

        @include easeAnimation

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    .image_section {
        //background: $color__main;
        border: 1px solid $secondary;
        padding: 5px;
        margin-bottom: 1em;
        clear: both;

        &:after {
            display: block;
            content: '';
            clear: both;
        }

        a {
            display: block;
            float: left;
            width: 32.3%;
            margin: .5%;

            @include respond-to(medium) {
                width: 24%;
            }

            @include respond-to(large) {
                width: 19%;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .page-template {
        padding-top: 4em;
    }
}

article {
    clear: both;
    position: relative;

    @include respond-to(large) {
        border-radius: 5px;
        overflow: hidden;

        .single-project & {
            margin-top: 80px;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .left {

        width: 100%;

        @include respond-to(large) {
            width: 70%;
            float: left;
            background: rgba(0, 0, 0, 0.7);
        }

        .article-featured-image {
            display: none;

            @include respond-to(large) {
                max-height: 200px;
                overflow: hidden;
                display: block;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .copy {
            @include respond-to(large) {
                padding: 0 20px;
            }
        }
    }

    .sidebar{ 
        
        width: 100%;
        margin-top: 1em;

        @include respond-to(large) {
            background: rgba(0, 0, 0, 0.5);
            padding: 1.250em;
        }

        @include respond-to(large) {
            margin-top: 0;
            width: 30%;
            float: left;
            position: absolute;
            right: 0;
            height: 100%;

            &.fixed_test {
                position: fixed;
                top: 80px;
                    transform: translateX(-17%);
            }
        }

        .details {
            margin-top: 1em;
            margin-bottom: 1em;
            border: 1px solid rgba(230, 230, 230, .2);
            padding: 1em;

            .heading {
                &:first-child {
                    margin-top: 0;
                }
            }

            @include respond-to(large) {
                border: none;
                margin-top: 2em;
                margin-bottom: 0;
                padding: 0;


            }

        }

        .heading{
            margin-top: 1.5em;
            display: block;
            width: 100%;
            margin-bottom: 0.5em;
        }

        .features {
            padding-left: 18px;
            clear: both;

            &:after {
                display: block;
                clear: both;
                content: '';
            }

            li {
                font-size: .9em;
                float: left;
                width: 50%; 

                @include respond-to(medium) {
                    width: 33%;
                }

                @include respond-to(large) {
                    width: 50%;
                }

            }
        }

        .categories {
            padding: 0;
            clear: both;
            list-style-type: none;

            &:after {
                display: block;
                clear: both;
                content: '';
            }

            li {
                font-size: .9em;
                float: left;
                margin-right: .5em;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .url_link {
            word-break: break-all;
        }

        
.social-meta {
                        cursor: pointer;
                        height: 25px;
                        margin-top: 10px;
                        text-align: center;

                        @include respond-to(small) {
                            float: right;
                            margin-top: 0;
                            height: 20px;
                            text-align: left;
                        }

                        .facebook {
                            background-image: url('images/facebook.jpg');
                            background-size: cover;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                            @include easeAnimation
                            opacity: .6;

                            @include respond-to(small) {
                                width: 20px;
                                height: 20px;
                            }

                            &:hover {
                                background-image: url('images/facebook_color.jpg');
                                opacity: 1;

                            }
                        }

                        .twitter {
                            background-image: url('images/twitter.jpg');
                            background-size: cover;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                            @include easeAnimation
                            opacity: .6;

                            @include respond-to(small) {
                                width: 20px;
                                height: 20px;
                            }

                            &:hover {
                                background-image: url('images/twitter_color.jpg');
                                opacity: 1;
                            }
                        }

                        .linkedin {
                            background-image: url('images/linkedin.jpg');
                            background-size: cover;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                            @include easeAnimation
                            opacity: .6;

                            &:hover {
                                background-image: url('images/linkedin_color.jpg');
                                opacity: 1;
                            }

                            @include respond-to(small) {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .instagram {
                            background-image: url('images/instagram.jpg');
                            background-size: cover;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            @include easeAnimation
                            opacity: .6;

                            @include respond-to(small) {
                                width: 20px;
                                height: 20px;
                            }

                            &:hover {
                                background-image: url('images/instagram_color.jpg');
                                opacity: 1;
                            }
                        }
                    }
                
    }
}

.no-scroll {
    overflow: hidden;
}

.home {
    display: block;

    .part_1 {
        //height: 100vh;
        position: relative;
        overflow: hidden;
        text-align: left;
        padding-top: 4em;
        
        h2 {
            padding: 0;
        }

        @include respond-to(large) {
        }

        


        h3 {
            @include respond-to(large) {
                margin-bottom: 1em;
            }
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        &.bg_image {
            padding: 1em 0;
            background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
            text-align: left;
            
            @include respond-to(small) {
                margin-bottom: 2em; 
                padding: 2em 0;
            }

            @include respond-to(medium) {
                padding: 4em 0;
            }

            .dark_bg {
                padding: 1em;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 5px; 

                h2 {
                    padding: 0;
                }

                @include respond-to(medium) {
                    p {
                        width: 100%;
                    }
                }

                @include respond-to(large) {
                    width: 50%;
                }
            }

            h2 {
                color: #fff;
            }

            p {
                color: #fff;

                @include respond-to(medium) {
                    width: 40%;
                }
            }
        }

        .central_container {
            position: relative;
            z-index: 2;
        }

        &_image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 300%;

            opacity: .6;

            @include respond-to(medium) {
                width: 200%;
            }            

            @include respond-to(large) {
                width: 100%;
            }
        }
    }

    .portfolio {
        z-index: 6;
        position: relative;
        margin-top: 2em;
        background: rgba(0, 0, 0, .05);

        &.bg_image {
            padding: 1em 0 4em 0;
        }
    }

    .part_2 {
        position: relative;
        overflow: hidden;
        padding-top: 2em;

        
        h2 {
            padding: 0;
        }

        &.bg_image {
            padding: 4em 0;
            background: -webkit-linear-gradient(left top, brown, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom right, brown, black); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom right, brown, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom right, brown, black); /* Standard syntax */
            color: #fff;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .list {
            clear: both;
            margin-bottom: 1em;
        
            ul {
                clear: both;
                padding-left: 20px;

                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }

                li {
                    width: 100%;
                    
                    @include respond-to(medium) {
                        float: left;
                        width: 50%;
                    }

                    @include respond-to(large) {
                        float: left;
                        width: 33%;
                    }
                }
            }
        }
        
        .central_container {
            position: relative;
            z-index: 2;
        }

        &_image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            opacity: .6;
        }
    }

    .part_3 {
        position: relative;
        overflow: hidden;
        padding-top: 2em;
        
        h2 {
            padding: 0;
        }

        &.bg_image {
            padding: 4em 0;
            background: -webkit-linear-gradient(left top, brown, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom right, brown, black); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom right, brown, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom right, brown, black); /* Standard syntax */
            color: #fff;
        }

        .list {
            clear: both;
            margin-bottom: 1em;
        
            ul {
                clear: both;
                padding-left: 20px;

                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }

                li {
                    width: 100%;
                    
                    @include respond-to(medium) {
                        float: left;
                        width: 50%;
                    }

                    @include respond-to(large) {
                        float: left;
                        width: 33%;
                    }
                }
            }
        }

        p {
            &:last-child {
                margin: 0;
            }
        }
        
        .central_container {
            position: relative;
            z-index: 2;
        }

        &_image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            opacity: .6;
        }
    }

    .part_4 {
        position: relative;
        overflow: hidden;
        padding-top: 2em;

        p {
            &:last-child {
                margin: 0;
            }
        }
        
        h2 {
            padding: 0;
        }

        &.bg_image {
            padding: 4em 0;
        }
    }
}

footer {
    min-height: 200px;
    background-color: $primary;
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 9;

    @include respond-to(large) {
        position: absolute;
    }

    .footer_logo_social {
        display: block;
        margin: 0 auto;

        &:after {
            content: '';
            clear: both;
            display: block; 
        }

        .footer_logo {
            @include respond-to(medium) {
                float: left;
            }
        }

        .social {
            cursor: pointer;
            margin-left: 0;
            margin-top: 10px;

            @include respond-to(medium) {
                float: left;
                margin-left: 7px;
                margin-top: 0;
            }

            .facebook {
                background-image: url('images/facebook.jpg');
                background-size: cover;
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/facebook_color.jpg');
                }
            }

            .twitter {
                background-image: url('images/twitter.jpg');
                background-size: cover;
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/twitter_color.jpg');
                }
            }

            .linkedin {
                background-image: url('images/linkedin.jpg');
                background-size: cover;
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 5px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/linkedin_color.jpg');
                }
            }

            .instagram {
                background-image: url('images/instagram.jpg');
                background-size: cover;
                display: inline-block;
                width: 25px;
                height: 25px;
                @include easeAnimation

                &:hover {
                    background-image: url('images/instagram_color.jpg');
                }
            }
        }
    }

    .col_container {
        clear: both;
        padding-top: 2em;
        padding-bottom: 3em;

        &:after {
            content: '';
            display: block;
            clear: both;
        }        

        @include respond-to(medium) {
            padding-bottom: 2em;
        }

        .col_1 {
            
            width: 100%; 

            @include respond-to(large) {
                width: 50%;
                float: left;
            }

            .logo {
                font-family: 'Lato', sans-serif;
                font-weight: 100;
                text-transform: uppercase;
                font-size: 1.5em;
                color: rgba(255,255,255,0.5);
                text-decoration: none;
            }

            p {
                color: rgba(255,255,255,0.4);
                font-size: .7em;
                width: 80%;
                margin-top: 10px;
                margin-bottom: 8px;
            }

            nav {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        padding: 0 5px;
                        font-size: .8em;
                        
                        a {
                            color: rgba(255 ,255, 255, .3);

                            &:hover {
                                color: $third;
                            }
                        }

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        .col_2 {
            width: 100%;

            @include respond-to(medium) {
                width: 50%;
                float: left;
            }

            @include respond-to(large) {
                width: 25%;
                float: left;
            }

            .title {
                font-weight: bold;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 10px;
                width: 80%;

                li {
                    a {
                        color: rgba(255, 255, 255, 0.4);
                        text-decoration: none;
                        display: block;
                        border-bottom: 1px solid rgba(255, 255, 255, .05);
                        font-size: .8em;
                        margin-bottom: 10px;

                        &:hover {
                            color: rgba(255, 255, 255, 1); 
                            border-bottom: 1px solid rgba(255, 255, 255, .6);
                        }
                    }
                }
            }

            .view_more {
                font-size: .8em;
                color: rgba(255, 255, 255, .7);

                &:hover {
                    color: $third;
                }
            }
        }

        .col_3 {
            width: 100%;

            @include respond-to(medium) {
                width: 50%;
                float: left;
            }

            @include respond-to(large) {
                width: 25%;
                float: left;
            }

            .title {
                font-weight: bold;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 10px;
                width: 80%;

                li {
                    a {
                        color: rgba(255, 255, 255, 0.4);
                        text-decoration: none;
                        display: block;
                        border-bottom: 1px solid rgba(255, 255, 255, .05);
                        font-size: .8em;
                        margin-bottom: 10px;

                        &:hover {
                            color: rgba(255, 255, 255, 1); 
                            border-bottom: 1px solid rgba(255, 255, 255, .6);
                        }
                    }
                }
            }

            .view_more {
                font-size: .8em;
                color: rgba(255, 255, 255, .7);

                &:hover {
                    color: $third;
                }
            }
        }
    }

    .small {
        position: absolute;
        bottom: 8px;
        text-align: center;
        width: 100%;
        font-size: 11px;
        color: rgba(255,255,255,0.4);
    }
}

/* Modal */
.modal {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;

    .modal_window {
        position: relative;
        top: 100px;
        max-height: 600px;
        overflow: scroll;
        height: 100%;

        img#modal_img {
            display: block;
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

//forms

.nf-form-fields-required {
font-size: .8em;
margin-bottom: 2em;
}

.form_element input {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.name_container {
    width: 100%;
    margin-right: 5%;

    @include respond-to(small) {
        width: 45%;
        float: left;
        clear:none !important;
    }
}

.email_container {
    width: 100%;

    @include respond-to(small) {
        width: 50%;
        float: left;
        clear:none !important;
    }
}

.message_container {
    textarea {
        padding: 10px;
        border-radius: 5px;
        font-size: 1em;
    }
}

.form_element input, .form_element textarea {
    @include easeAnimation;
    border: 1px solid $secondary;

    &:focus {
     
        box-shadow: 0 0 5px rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 1);
        outline:none;
    }
}

.form_element {
    .submit_button {
        &:hover {
            background-color: $third;
        }
    }
}


.breadcrumb {
    color: rgba(255, 255, 255, .3);
    cursor: pointer;

    a {
        color: rgba(255, 255, 255, .3);
        cursor: pointer;
        display: inline-block;
        padding: 2px 5px;

        &:first-child {
            padding-left: 0;
        }

        &:hover {
            color: $third;
        }

    }
}
