.hero-image {
    height: 50vh;
    width: 100%;
    top: 0;
    z-index: 4;
    overflow: hidden;
    position: relative;

    .move-image {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        opacity: 1;
        
      //-webkit-animation: 40s linear 0s normal none infinite moveHeroImage;
      //-moz-animation: 40s linear 0s normal none infinite moveHeroImage;
      //-ms-animation: 40s linear 0s normal none infinite moveHeroImage;
      //-o-animation: 40s linear 0s normal none infinite moveHeroImage;
      //animation: 40s linear 0s normal none infinite moveHeroImage;

        &:after {
  
            animation: grain 8s steps(10) infinite;
            background-image: url("images/grain.png");
            content: "";
            height: 300%;
            left: -50%;
            opacity: 0.2;
            position: absolute;
            top: -100%;
            width: 300%;
        }
    }

    .page-image {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        opacity: 1;

        &:after {
  
            animation: grain 8s steps(10) infinite;
            background-image: url("images/grain.png");
            content: "";
            height: 300%;
            left: -50%;
            opacity: 0.2;
            position: absolute;
            top: -100%;
            width: 300%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

.hero_title {
    color: $white;
}

.built_by,
.made_by {
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    font-weight: 200;
}

//Grain animation
@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }