// Colour Palette
//
// Styleguide 2.0


// Main palette
//
// $colour__main - Primary
// $colour__secondary - Secondary
// $colour__secondary--lighter - Paler variation of the secondary colour
// $colour__accent - Accent
//
// markup: <div style="background-color: {$modifiers}" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.1

$color__main: #fff;
$color__text: #3b516f;
$color__gradient1: #60b0da;
$color__gradient2: #945788;

$color__link: #0074b7;
$color__link_hover: #2a9adb;
$color__link_visited: #00629b;

$color__websites: rgb(255, 0, 0);
$color__test: rgb(0, 100, 255);
$color__print: rgb(0, 255, 0);


//new

$primary: #131313;
$color-primary_dark: #0d131a;
$third: #00aeff;

$primary--text: #ffffff;
$color-primary--text: #bcbcbc;
$third--text: #818181;

$white: #ffffff;
$black: #000000;

$accent: #00aeff;
$accent--lighter: lighten( $accent, 10% );
$accent--darker: darken( $accent, 10% );



$color-primary: #1B2735;