
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2 {
    &:before {
        content: "\ea91";
    }

    &:hover {
        color: #3B5998 !important;
    }
}

.icon-twitter {
    &:before {
        content: "\ea96";
    }

    &:hover {
        color: #1DA1F2 !important;
    }
}

.icon-linkedin{
    &:before {
        content: "\eac9";
    }

    &:hover {
        color: #0077B5 !important;
    }
}

.icon-instagram{
    &:before {
        content: "\ea92";
    }

    &:hover {
        color:  #fccc63 !important;
    }
}

.icon-home:before {
    content: "\e900";
}

.icon-stack:before {
    content: "\e92e";
}

.icon-folder-open:before {
    content: "\e930";
}

.icon-link:before {
    content: "\e9cb";
}

.icon-phone:before {
    content: "\e942";
}

.icon-email:before {
    content: "\e945";
}

.icon-nav-arrow:before {
    content: "\ea42";
}

.icon-arrow-right:before {
    content: "\ea42";
}

.icon-arrow-left:before {
    content: "\ea44";
}

.icon-briefcase:before {
    content: "\e9ae";
}

.icon-list2:before {
    content: "\e9bb";
}

.icon-download3:before {
    content: "\e9c7";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-share2:before {
    content: "\ea82";
}

#menu-mobile-menu,
.dynamic_posts {
    li a {
        &:after {
            font-family: 'IcoMoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            
            /* Enable Ligatures ================ */
            letter-spacing: 0;
            -webkit-font-feature-settings: "liga";
            -moz-font-feature-settings: "liga=1";
            -moz-font-feature-settings: "liga";
            -ms-font-feature-settings: "liga" 1;
            -o-font-feature-settings: "liga";
            font-feature-settings: "liga";

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            content: "\ea42";
            position: absolute;
            right: 30px;
            font-size: 18px;
        }
    }
}